@import "./assets/scss/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "./assets/scss/app";

.dropdown-toggle::after {
  display: none;
}

.react-datepicker {
  width: 100%;
}

.react-datepicker__month-container {
  width: 100%;
}

.table > :not(caption) > * > * {
  padding: 1.3125rem 1rem 0.6875rem !important;
  background-color: white !important;
  box-shadow: none !important;
}
