@import "./assets/scss/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "./assets/scss/app";

.dropdown-toggle::after {
  display: none;
}

.react-datepicker {
  width: 100%;
}

.react-datepicker__month-container {
  width: 100%;
}
